* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  color: #3e3d3d;
  font-size: 13px;
  font-family: Arial, sans-serif;
  background: url("../img/bg.jpg") no-repeat top center, #1d0f46;
  padding-top: 30px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.clear {
  clear: both;
}

header {
  background: #ffcb05;
  border-radius: 10px 10px 0 0;
  padding: 10px 10px 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  border-radius: 10px 10px 0 0;
  background: #ffcb05;
  vertical-align: top;
  padding: 10px;
}
header nav ul li.active {
  background: white;
}
header nav ul li.active a {
  font-weight: bold;
}
header nav ul li a {
  text-decoration: none;
  color: #3e3d3d;
}

.main {
  background: white;
}
.main .content {
  width: 640px;
  padding: 20px;
  float: left;
}
.main .content h1 {
  font-size: 30px;
  margin: 0 0 20px;
}
.main .content p {
  margin-bottom: 20px;
}
.main .content p span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.main .content img {
  max-width: 100%;
}
.main aside {
  padding: 20px;
  background: #ebebeb;
  float: right;
  width: 360px;
}
.main aside h3 {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 2px;
  border-bottom: 2px solid #d8d9d8;
  width: 100%;
  margin: 0 0 15px;
}
.main aside > div {
  margin-bottom: 20px;
}
.main aside .banner {
  text-align: center;
}
.main aside .comments p {
  display: block;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px dotted #c1c1c1;
}
.main aside .comments p span {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
.main aside .comments p a {
  text-decoration: none;
  color: #3e3d3d;
}
.main aside .comments p a:hover {
  color: #35B3E6;
}
.main aside .comments p:last-child {
  border: none;
}
.main aside .on-days table {
  width: 100%;
  border-collapse: collapse;
}
.main aside .on-days table th {
  background: #c3d9ff;
  padding: 3px;
  border: 1px solid #999;
  text-align: center;
}
.main aside .on-days table td {
  text-align: center;
  padding: 3px;
  border: 1px solid #999;
}
.main aside .subscribe {
  text-align: center;
}
.main aside .subscribe h3 {
  text-align: left;
}
.main aside .subscribe input[type='text'],
.main aside .subscribe input[type='email'] {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 4px;
  border: #ccc 1px solid;
  padding: 7px 10px;
}
.main aside .subscribe input[type='submit'], .main aside .subscribe .submit {
  cursor: pointer;
  border: solid 1px #962a01;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 13px 20px;
  background: #ffaa8a;
  background: -moz-linear-gradient(top, #ffaa8a 0%, #962a01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaa8a), color-stop(100%, #962a01));
  background: -webkit-linear-gradient(top, #ffaa8a 0%, #962a01 100%);
  background: -o-linear-gradient(top, #ffaa8a 0%, #962a01 100%);
  background: -ms-linear-gradient(top, #ffaa8a 0%, #962a01 100%);
  background: linear-gradient(to bottom, #ffaa8a 0%, #962a01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa8a', endColorstr='#962a01',GradientType=0 );
}
.main aside .subscribe input[type='submit']:active, .main aside .subscribe input[type='submit']:focus, .main aside .subscribe .submit:active, .main aside .subscribe .submit:focus {
  background: #962a01;
  background: -moz-linear-gradient(top, #962a01 0%, #ffaa8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #962a01), color-stop(100%, #ffaa8a));
  background: -webkit-linear-gradient(top, #962a01 0%, #ffaa8a 100%);
  background: -o-linear-gradient(top, #962a01 0%, #ffaa8a 100%);
  background: -ms-linear-gradient(top, #962a01 0%, #ffaa8a 100%);
  background: linear-gradient(to bottom, #962a01 0%, #ffaa8a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#962a01', endColorstr='#ffaa8a',GradientType=0 );
}
.main aside .subscribe input[type='submit']:hover, .main aside .subscribe .submit:hover {
  background: #ffdfd3;
  background: -moz-linear-gradient(top, #ffdfd3 0%, #962a01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdfd3), color-stop(100%, #962a01));
  background: -webkit-linear-gradient(top, #ffdfd3 0%, #962a01 100%);
  background: -o-linear-gradient(top, #ffdfd3 0%, #962a01 100%);
  background: -ms-linear-gradient(top, #ffdfd3 0%, #962a01 100%);
  background: linear-gradient(to bottom, #ffdfd3 0%, #962a01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdfd3', endColorstr='#962a01',GradientType=0 );
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.popup::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.popup .modal {
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  padding: 20px;
  background: white;
  position: relative;
}
.popup .modal .close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -30px;
  margin-right: -30px;
  font-size: 16px;
}
.popup .modal p {
  font-size: 14px;
  color: black;
  margin: 0;
}

footer {
  background: black;
  padding: 20px;
  text-align: center;
}
footer p {
  color: white;
  margin: 0 0 20px;
}
footer p a {
  color: white;
  text-decoration: underline;
  margin-right: 10px;
}
footer p a:hover {
  text-decoration: none;
}
footer span {
  color: white;
  font-size: 10px;
  line-height: 13px;
}

.calendar {
  width: 100%;
  text-align: center;
}

#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}

#calendar thead tr:last-child {
  font-size: small;
  color: #555555;
}

#calendar thead tr td:first-child,
#calendar thead tr td:last-child {
  cursor: pointer;
}

#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar tbody td {
  color: #2c567a;
}

#calendar tbody td:nth-child(n+6), #calendar2 .holiday {
  color: #e78c5c;
}

#calendar tbody td.today {
  background: #35B3E6;
  color: #fff;
}
